@use 'base/variables' as v;
@use 'base/mixins' as m;


.footer {
    background-color: #141414;
    padding: 3rem 5rem;
    display: grid;
    margin-top: 10rem;

    .caja_footer {
        width: min(95%, 120rem);
        margin: 0 auto;
        font-size: 1.8rem;
        display: grid;
        gap: 3rem;
        margin-bottom: 10rem;
        justify-content: center;

        a {
            color: #b1b1b1;
        }

        p {
            color: #ffffff;
        }

        .bajocero {
            display: grid;
        }

        .ofertas {
            margin-bottom: 2rem;
        }

        .caja_imagen_footer {
            display: block;
            text-align: center;
            box-sizing: border-box;

            .imagen_footer {
                box-sizing: border-box;
                height: auto;
                max-width: 100%;
                width: 40rem;

                p {
                    margin: 0 auto;
                    font-size: 1.5rem;
                    box-sizing: border-box;
                }
            }
        }
    }
}