@use 'base/mixins' as m;
@use 'base/variables' as v;

footer {
    margin-top: 10rem;
    background-color: #00081a;
    border-top: 0.2rem solid #014379;
    height: 100%;
    
   .footer {
        .contenedor-footer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            justify-items: center;
            text-align: center;
            .logo {
                width: 5rem;
                cursor: pointer;
                padding: 3rem 0;
            }
        }
        .contenedor-redes {

            .redes {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                i {
                    color: #98d1ff;
                    font-size: 2.5rem;
                }
            }
        }
        
        .derechos {
            color: white;
            padding-bottom: 1rem;
            font-size: 1.2rem;
            text-align: center;
            @include m.tablet {
                font-size: 1.3rem;
            }
        }
    }
}