@use 'base/variables' as v;
@use 'base/mixins' as m;


.principal {
    .caja_titulo_bajocero {
        background-image: url(../../../build/img/fondo.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
    
        @include m.desktop {
            margin-top: 5rem;
        }
    
        .titulo_bajocero {
            width: 35rem;
            padding: 5rem 0;
    
            @include m.desktop {
                padding: 8rem;
                width: 90rem;
            }
        }
    }

    .contenedor_main {
        width: min(95%, 120rem);
        margin: 0 auto;
        font-size: 1.8rem;    
    
        .titulo_productos {
            text-align: center;
            margin: 6rem 0;
            font-size: 4.5rem;
        }
    
        .caja_precio_dolar {
            display: none;
    
            @include m.desktop {
                position: absolute;
                left: 10rem;
                top: 67rem;
                text-align: center;
                border: solid 1px;
                border-radius: 1rem;
                padding: 1rem;
                display: block;
    
                h2 {
                    margin: 0 0 1rem 0;
                }
    
                .dolar_pantalla {
                    margin: 0;
                    font-size: 2.2rem;
                }
            }
        }
    
        .contenedor_productos {
            display: grid;
            place-items: center;
            gap: 5rem;
            grid-template-columns: repeat(1, 1fr);
            margin-top: 7rem;
    
            @include m.desktop {
                grid-template-columns: repeat(3, 1fr);
                gap: 4rem;
            }
    
            .productos {
                position: relative;
                display: flex;
                flex-direction: column;
                text-align: center;
                border-radius: 2rem;
                padding: 1.2rem;
                width: min(95%, 40rem);
                box-shadow: 0 0 10px 0 rgba(80, 132, 255, 0.588);

                .contenedor-dolar {
                    position: absolute;
                    right: 1.2rem;
                    width: 6.5rem;
                    height: 3rem;
                    display: flex;
                    gap: .3rem;
                    background-color: rgb(196, 1, 1);
                    border-radius: .8rem;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.5rem;
                }
                
                .producto-contenedor-titulo {
                    margin-top: 1rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 2rem;

                    .h2titulo {
                        font-size: 1.6rem;
                        text-align: start;
                        margin: 0;

                        @include m.tablet {
                            font-size: 2rem;
                        }
                    }

                    .precio_info {
    
                        .precio {
                            display: flex;
                            justify-content: center;
                            align-items: center;
        
                            .oferta {
                                font-size: 2rem;
                                text-decoration: line-through;
                                color: rgb(68, 68, 68);
                            }
        
                            .monto {
                                margin: 2rem 2rem 2rem 0;
                                font-weight: bold;
                                font-size: 1.6rem;
                                margin: 0;

                                @include m.tablet {
                                    font-size: 2rem;
                                }
                            }
        
                            .montoUSD {
                                margin: 2rem 0;
                                font-weight: bold;
                                font-size: 1.8rem;
                            }
                        }
                    }
                }
 
                .talles-contenedor {
                    .titulo {
                        text-align: start;
                        color: #dadada;
                        margin-bottom: 0;
                        font-size: 1.5rem;
                    }

                    .contenedor-botones-talle {
                        margin: .5rem 0 2rem 0;
                        display: flex;
                        gap: 1rem;

                        .boton_talle {
                            border-radius: .5rem;
                            width: 5rem;
                            height: 3rem;
                            cursor: pointer;
                            border: none;
                            transition: all .3s ease;
                            font-size: 1.4rem;
                            background-color: #00123a;
                            color: white;
                            border: 1px solid rgba(2, 57, 185, 0.588);

                            &:hover {
                                background-color: #002169;
                            }
                        }
                        
                        .talle_seleccionado {
                            background-color: white;
                            color: black;

                            &:hover {
                                background-color: white;
                            }
                        }
                    }
                }

    
                .btn_comprarinfo {
                    display: grid;
                    gap: 1rem;

                    .boton_comprar {
                        background-color: #00d1d1;
                        border-radius: 0.5rem;
                        border: 0;
                        padding: 1rem;
                        font-size: 1.5rem;
                        text-decoration: none;
                        color: black;
                        transition: background-color 0.5s, color 0.5s;
                    }

                    .boton_comprar:hover {
                        cursor: pointer;
                        background-color: #008f8f;
                        transition: background-color 0.5s, color 0.5s;
                    }
                }

                .imagen_producto {
                    border-radius: 1rem;
                    width: 100%;
                    height: 20rem;
                    object-fit: cover;
                    object-position: 50% 50%;
                }
            }
        }
    }
}


