@use 'base/variables' as v;
@use 'base/mixins' as m;


.principal {
    .caja_titulo_bajocero {
        background-image: url(../../../build/img/fondo.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
    
        @include m.desktop {
            margin-top: 3rem;
        }
    
        .titulo_bajocero {
            width: 25rem;
            padding: 5rem 0;
    
            @include m.desktop {
                padding: 8rem;
                width: 80rem;
            }
        }
    }

    .contenedor_main {
        width: min(95%, 120rem);
        margin: 0 auto;
        font-size: 1.8rem;    
    
        .titulo_productos {
            text-align: center;
            margin: 6rem 0;
            font-size: 3rem;
            margin: 6rem 0;

            @include m.tablet {
                margin: 8rem 0;
                font-size: 4.5rem;
            }
        }

        .contenedor-filtro {
            @include m.grid(2,2rem);
            place-items: center;
            margin: 0 2rem;    
                   
            @include m.tablet {
                @include m.grid(4, 0);
                margin: 0;
            }

            .categorias {
                background-color: #025294;
                text-align: center;
                width: 100%;
                border-radius: 1rem;
                cursor: pointer;

                @include m.tablet {
                    width: 80%;
                }

                p {
                    margin: 0;
                    padding: 1rem;
                    font-size: 1.4rem;

                    @include m.tablet {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    
        .caja_precio_dolar {
            display: none;
    
            @include m.desktop {
                position: absolute;
                left: 10rem;
                top: 67rem;
                text-align: center;
                border: solid 1px;
                border-radius: 1rem;
                padding: 1rem;
                display: block;
    
                h2 {
                    margin: 0 0 1rem 0;
                }
    
                .dolar_pantalla {
                    margin: 0;
                    font-size: 2.2rem;
                }
            }
        }
    
        .contenedor_productos {
            @include m.grid(2, 2rem);
            margin-top: 6rem;
            place-items: center;

            @include m.desktop {
                margin-top: 7rem;
                @include m.grid(3, 4rem);
            }
    
            .productos {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                border-radius: 1rem;
                padding: 1.2rem;
                width: 100%;
                height: 100%;
                box-shadow: 0 0 3px 1px rgba(80, 133, 255, 0.288);
                background: linear-gradient(to right, rgba(175, 199, 255, 0), rgba(107, 151, 255, 0.445));

                .contenedor-dolar {
                    position: absolute;
                    right: 1.2rem;
                    width: 5rem;
                    height: 2.5rem;
                    font-size: 1.3rem;
                    display: flex;
                    gap: .3rem;
                    background-color: rgb(196, 1, 1);
                    border-radius: .8rem;
                    justify-content: center;
                    align-items: center;

                    display: none;

                    @include m.tablet {
                        width: 5.3rem;
                        height: 2.5rem;
                        font-size: 1.4rem;
                    }
                }

                .producto-contenedor-titulo {
                    margin: .5rem 0;
                    gap: 1rem;

                    @include m.tablet {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 2rem;
                    }

                    .producto-nombre {
                        font-size: 1.2rem;
                        margin: 0;

                        @include m.tablet {
                            text-align: start;
                            font-size: 1.5rem;
                        }
                    }

                    .precio_info {
    
                        .precio {
                            display: flex;
                            justify-content: center;
                            align-items: center;
        
                            .monto {
                                font-weight: bold;
                                font-size: 1.4rem;
                                margin: .5rem 0;

                                @include m.tablet {
                                    font-size: 2rem;
                                }
                            }
        
                            .montoUSD {
                                margin: 2rem 0;
                                font-weight: bold;
                                font-size: 1.8rem;
                            }
                        }
                    }
                }
 
                .talles-contenedor {
                    .titulo {
                        text-align: start;
                        color: #979797;
                        margin-top: 0;
                        margin-bottom: 0;
                        font-size: 1.2rem;
                        @include m.tablet {
                            font-size: 1.4rem;
                        }
                    }

                    .contenedor-botones-talle {
                        margin: .5rem 0 1rem 0;
                        display: flex;
                        gap: .3rem;

                        @include m.tablet {
                            margin: .5rem 0 2rem 0;
                        }

                        .boton_talle {
                            border-radius: .5rem;
                            width: 3.5rem;
                            height: 2.5rem;
                            cursor: pointer;
                            border: none;
                            transition: all .3s ease;
                            font-size: 1.1rem;
                            background-color: #00123a;
                            color: white;
                            border: 1px solid rgba(2, 57, 185, 0.588);
                            

                            @include m.tablet {
                                width: 5rem;
                                height: 3rem;
                                font-size: 1.4rem;
                            }

                            &:hover {
                                background-color: #002169;
                            }
                        }
                        
                        .talle_seleccionado {
                            background-color: white;
                            color: black;

                            &:hover {
                                background-color: white;
                            }
                        }
                    }
                }

    
                .btn_comprarinfo {
                    display: grid;
                    
                    .boton_comprar {
                        background-color: #00d1d1;
                        border-radius: 0.5rem;
                        border: 0;
                        padding: 1rem;
                        font-size: 1rem;
                        text-decoration: none;
                        color: black;
                        transition: background-color 0.5s, color 0.5s;

                        @include m.tablet {
                            font-size: 1.4rem;
                        }

                        i {
                            padding-right: .5rem;
                        }
                    }

                    @include m.tablet {
                        .boton_comprar:hover {
                            cursor: pointer;
                            background-color: #008f8f;
                            transition: background-color 0.5s, color 0.5s;
                        }
                    }
                }

                .contenedor-imagen-producto {
                    position: relative;
                    
                    .imagen_producto {
                        border-radius: 1rem;
                        width: 100%;
                        height: 13rem;
                        object-fit: cover;
                        object-position: 50% 50%;

                        @include m.tablet {
                            height: 20rem;
                        }
                    }

                    .producto-marca {
                        border-bottom-left-radius: 1rem;
                        border-bottom-right-radius: 1rem;
                        position: absolute;
                        bottom: 4px;
                        left: 0;
                        width: 100%;
                        text-align: center;
                        background-color: rgba(0, 0, 0, 0.705);
                        padding: .5rem;
                        margin: 0; 
                        font-size: 1.4rem;

                        @include m.tablet {
                            font-size: 1.6rem;
                        }
                    }
                }

            }
        }
    }

}